@font-face {
    font-family: arista;
    src: url(../font/arista.ttf);
}

body{
    background: #fff url(http://ostranah.ru/images/body-bg.png) 50% 0 no-repeat;
}

h1 {
    font-family: arista;
    font-size: 70px;
    color: #204201;
}

.alert-success, .alert-danger, .progress{
    width: 50%;
    margin: auto;
}

progress{
    width: 50%;
    margin-top: 20px;

}

h4{
    margin: 25px 15px;
    font-size: 25px;
    color: green;
}

button{
    margin: 25px 15px;
}

input[type="radio"]{
    margin-left: 15px;
    margin-right: 5px;
}

#questions, #alldone{
    visibility: hidden;
}

.capitals{
    font-size: 15px;
}